[Desktop Entry]
Name={{ cur_firefox.name }}
Comment={{ cur_firefox.comment }}
GenericName=Web Browser
X-GNOME-FullName={{ cur_firefox.comment }}
Exec={{ firefox2_bin }} --new-instance -P {{ cur_firefox.profile }} %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=firefox-esr
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Firefox-esr
StartupNotify=true
